<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>About</title>
</head>
<body>
    <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
      <div class="container">
        <a href="/" class="navbar-brand">OUA Scouting Network</a>

        <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navmenu"
        >
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id ="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/oua-central" class="nav-link">OUA Central Division</a>
                </li>
                <li class="nav-item">
                    <a href="/oua-western" class="nav-link">OUA Western Division</a>
                </li>
                <li class="nav-item">
                    <a href="/oua-eastern" class="nav-link">OUA Eastern Division</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
            </ul>
        </div>
      </div>          
  </nav>

  <!-- About Us -->
  <section class="bg-dark text-light p-5 text-center">
    <div class="container">
        <div class="d-sm-flex">
            <div>
                <h1>How Player Valuability Ratings Work</h1>
                <p class="lead my-4">
                    Player Valuability Ratings are composed of many different factors of a player's 
                    games that can accurately predicate their impact on the court and how valuable they are
                     to their team. <br><br>

                     The first metric calculated is the players' averages over their teams most recent 5 games (or less depending on team/player).
                    After that,
                     the following is considered:
                     <br><br>

                     The main idea is to focus on players' statistics as a percentage, rather than the number. 
                     Most of the big 8 stats are converted to percentages of their team stats.<br><br>

                     Additionally, for special statistics like turnovers, blocks, steals, where more of them means less inherent
                     "luck" is involved are applied to an exponential function.

                     <br><br>
                     True shooting is also considered to determine this statistic.
                     
                    <br><br>
                     <img src="static/img.png" width="40%" height="40%">
                    
                </p>
            </div>
        </div>
    </div>
</section>



  <!-- Newsletter -->
  <section class="bg-dark text-light p-5">
    <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
          <h3 class="mb-3 mb-md-0">Sign Up For Our Weekly Scouting Report</h3>
          <div class="input-group news-input">
              <input 
              type="text" 
              class="form-control" 
              placeholder="Enter Email" 
              /> 
              <button class="btn btn-success btn-lg" 
              type="button"
              >
              Sign Up
          </button>
          </div> 
      </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous">
</script>
</body>
</html>