<!DOCTYPE html>
<html>
<head>
<title>OUA Scout</title>

</head>
<body>
    <a href="/teams/algoma">Algoma</a><br>
    <a href="/teams/brock">Brock</a><br>
    <a href="/teams/carleton">Carleton</a><br>
    <a href="/teams/guelph">Guelph</a><br>
    <a href="/teams/lakehead">Lakehead</a><br>
    <a href="/teams/mcmaster">McMaster</a><br>
    <a href="/teams/nipissing">Nipissing</a><br>
    <a href="/teams/ontario tech">Ontario Tech</a><br>
    <a href="/teams/ottawa">Ottawa</a><br>
    <a href="/teams/queens">Queen's</a><br>
    <a href="/teams/toronto metropolitan">Toronto Metropolitan</a><br>
    <a href="/teams/toronto">Toronto</a><br>
    <a href="/teams/waterloo">Waterloo</a><br>
    <a href="/teams/western">Western</a><br>
    <a href="/teams/wilfrid laurier">Wilfried Laurier</a><br>
    <a href="/teams/windsor">Windsor</a><br>
    <a href="/teams/york">York</a><br>
</body>
</html>