<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>OUA Players of the Week</title>
</head>
<body>
    <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
      <div class="container">
        <a href="#" class="navbar-brand">OUA Scouting Network</a>

        <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navmenu"
        >
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id ="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/oua-central" class="nav-link">OUA Central Division</a>
                </li>
                <li class="nav-item">
                    <a href="/oua-western" class="nav-link">OUA Western Division</a>
                </li>
                <li class="nav-item">
                    <a href="/oua-eastern" class="nav-link">OUA Eastern Division</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
            </ul>
        </div>
      </div>          
  </nav>

  <!-- Showcase -->
  <section class="bg-dark text-light p-5 text-center">
      <div class="container">
          <div class="d-sm-flex">
              <div>
                  <h1>Player Valuability Ratings for <br> <span class="text-success">
                    OUA Student Athletes
                  </span>  </h1>
                  <p class="lead my-4">
                    The Player Valuability Rating is an all-in-one rating that considers every single one of a player's contributions 
                    to their team and generates a number that gives an accurate representation of how valuable they are to a team.
                    PVR strives to measures how valuable a player is to their team by taking a player's statistics for threir most recent games and 
                    identifying how impactful he was to that said team.
                  </p>
                  <button class="btn btn-primary btn-lg" onclick="location.href = '/about'">
                      Learn More
                  </button>
              </div>
              <img class="static-fluid w-50 d-none d-sm-block" src="/static/OUA_logo.svg.png" alt="">
          </div>
      </div>
  </section>

  <!-- rosters = {
    "algoma":"https://algomathunderbirds.ca/sports/mens-basketball/roster?path=mbball",
    "toronto":"https://varsityblues.ca/sports/mens-basketball/roster?path=mbball",
    "mcmaster":"https://marauders.ca/sports/mens-basketball/roster?path=mbball",

    "brock":"https://gobadgers.ca/sports/mens-basketball/roster",
    "nipissing":"https://nulakers.ca/sports/mens-basketball/roster",
    "ontario tech":"https://goridgebacks.com/sports/mens-basketball/roster",
    "queens":"https://gogaelsgo.com/sports/mens-basketball/roster",
    "tmu":"https://tmubold.ca/sports/mens-basketball/roster",
    "waterloo":"https://athletics.uwaterloo.ca/sports/mens-basketball/roster",
    "western":"https://westernmustangs.ca/sports/mens-basketball/roster",
    "wilfrid":"https://laurierathletics.com/sports/mens-basketball/roster",
    "windsor":"https://golancers.ca/sports/mens-basketball/roster",

    "carleton":"https://goravens.ca/teams/mens-basketball/roster/",

    "guelph":"https://gryphons.ca/sports/basketball-men/roster",

    "lakehead":"http://thunderwolves.ca/view-roster/basketball-m/",

    "laurentian":"https://www.luvoyageurs.com/sports/mbkb/2022-23/roster",
    "ottawa":"https://teams.geegees.ca/sports/mbkb/2022-23/roster",


    "york":"https://yorkulions.ca/sports/mens-basketball/roster"
    } -->

  <!-- Boxes -->
  <section class="p-3">
      <div class="container">
        <h1>Top Players* Of The Week</h1>
        <h6><i>Players must play all 5 of their teams most recent games in order to qualify</i></h6>
          <div class="row text-center my-4">
              <div class="col-sm">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="https://westernmustangs.ca/images/2022/9/26/aryan_sharma.jpg" class="card-img-top" alt= "goat" width="250" height="500">
                        <div class="card-body">
                          <h5 class="card-title">{{top[0][0]}}</h5>
                          <p class="card-text">PVR: {{ "%.1f"|format(top[0][1]) }}, PPG: {{ "%.1f"|format(top[0][2]) }}, APG: {{ "%.1f"|format(top[0][3]) }}, RPG: {{ "%.1f"|format(top[0][4]) }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="https://goravens.ca/wp-content/uploads/Warnholtz_Sep-23-2022_23-MBB_HS_3215-scaled.jpg" class="card-img-top" alt= "goat" width="300" height="500">
                        <div class="card-body">
                          <h5 class="card-title">{{top[1][0]}}</h5>
                          <p class="card-text">PVR: {{ "%.1f"|format(top[1][1]) }}, PPG: {{ "%.1f"|format(top[1][2]) }}, APG: {{ "%.1f"|format(top[1][3]) }}, RPG: {{ "%.1f"|format(top[1][4]) }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="https://gogaelsgo.com/images/2022/10/17/Syllas_Luka.JPG" class="card-img-top" alt= "goat" width="300" height="500">
                        <div class="card-body">
                          <h5 class="card-title">{{top[2][0]}}</h5>
                          <p class="card-text">PVR: {{ "%.1f"|format(top[2][1]) }}, PPG: {{ "%.1f"|format(top[2][2]) }}, APG: {{ "%.1f"|format(top[2][3]) }}, RPG: {{ "%.1f"|format(top[2][4]) }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Newsletter -->
  <section class="bg-dark text-light p-5">
      <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Sign Up For Our Weekly Scouting Report</h3>
            <div class="input-group news-input">
                <input 
                type="text" 
                class="form-control" 
                placeholder="Enter Email" 
                /> 
                <button class="btn btn-success btn-lg" 
                type="button"
                >
                Sign Up
            </button>
            </div> 
        </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous">
</script>
</body>
</html>