<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>OUA SCOUTING METRIC</title>
</head>
<body>
    <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
      <div class="container">
        <a href="/templates/webpage.html" class="navbar-brand">OUA Scouting Network</a>

        <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navmenu"
        >
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id ="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/oua-central" class="nav-link">OUA Central Division</a>
                </li>
                <li class="nav-item">
                    <a href="/oua-western" class="nav-link">OUA Western Division</a>
                </li>
                <li class="nav-item">
                    <a href="/oua-eastern" class="nav-link">OUA Eastern Division</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
            </ul>
        </div>
      </div>          
  </nav>

  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Leaderboard</th>
        <th scope="col">Name</th>
        <th scope="col">Points Per Game</th>
        <th scope="col">Assists Per Game</th>
        <th scope="col">Rebounds Per Game</th>
        <th scope="col">Player Valuability Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Thomas Kennedy</td>
        <td>20.4</td>
        <td>2.8</td>
        <td>17.2</td>
        <td>93.2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Najee Brown-Henderson</td>
        <td>16.8</td>
        <td>5.2</td>
        <td>7.6</td>
        <td>72.1</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Najee Brown-Henderson</td>
        <td>16.2</td>
        <td>5.4</td>
        <td>5.4</td>
        <td>61.2</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Danial Cummings</td>
        <td>13.4</td>
        <td>0.4</td>
        <td>5.8</td>
        <td>30.5</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Yohann Sam</td>
        <td>8.4</td>
        <td>0.8</td>
        <td>3.6</td>
        <td>25.9</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Quinn Carrey</td>
        <td>7.0</td>
        <td>3.0</td>
        <td>3.6</td>
        <td>24.7</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Ziphion Grant</td>
        <td>7.4</td>
        <td>0.8</td>
        <td>3.4</td>
        <td>19.3</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Josis Makia-Thomas</td>
        <td>2.4</td>
        <td>0.0</td>
        <td>2.2</td>
        <td>7.5</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Lorenzo Barieri</td>
        <td>1.2</td>
        <td>0.8</td>
        <td>0.8</td>
        <td>3.9</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>3.8</td>
        <td>2.0</td>
        <td>0.2</td>
        <td>1.6</td>
        <td>3.8</td>
      </tr>
    </tbody>
  </table>



  <!-- Newsletter -->
  <section class="bg-dark text-light p-5">
    <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
          <h3 class="mb-3 mb-md-0">Sign Up For Our Weekly Scouting Report</h3>
          <div class="input-group news-input">
              <input 
              type="text" 
              class="form-control" 
              placeholder="Enter Email" 
              /> 
              <button class="btn btn-success btn-lg" 
              type="button"
              >
              Sign Up
          </button>
          </div> 
      </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous">
</script>
</body>
</html>